<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107105803701-b5mtpsk8pi4851k8057csog952raa4c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107105803701-b5mtpsk8pi4851k8057csog952raa4c3</string>
	<key>API_KEY</key>
	<string>AIzaSyC6C0r9ROqiidGGOzHV4MTThzzxNG5eXec</string>
	<key>GCM_SENDER_ID</key>
	<string>107105803701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oaklib.foggle</string>
	<key>PROJECT_ID</key>
	<string>foggle-18d3f</string>
	<key>STORAGE_BUCKET</key>
	<string>foggle-18d3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107105803701:ios:1582789adfcc638f67cdfc</string>
</dict>
</plist>